@font-face {
  font-family: 'changa';
  src: url('./fonts/changa-bold.ttf');
}

@font-face {
  font-family: 'changal';
  src: url('./fonts/changa-light.ttf');
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'changa';
  font-size: 2vh;
  background: #191919;
  color: #fff;
}
p {
  font-family: 'changal';
}

/*  HEADER STYLES */

.color {
  color: #09d4d9;
}

#mobile a {
  color: #d95809;
}
#mobile .active {
  color: #ff7824;
}
.social-links {
  position: fixed;
  top: 80%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
  margin-left: 40px;
}
.social-links a {
  display: block;
  cursor: pointer;
  padding: 15px;
  color: #09d4d9;
  transition: ease-in-out 0.5s;
}
.social-links a:hover {
  transition: ease-in-out 0.5s;
  display: block;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 25px;
  color: #09d4d9;
}
@media screen and (max-width: 500px) {
  .social-links {
    margin-left: 20px;
  }
  .social-links a {
    display: block;
    cursor: pointer;
    padding: 2px;
    color: #09d4d9;
    transition: ease-in-out 0.5s;
    font-size: 12px;
  }
  .social-links a:hover {
    transition: ease-in-out 0.5s;
    display: block;
    cursor: pointer;
    padding: 2px;
    margin-bottom: 25px;
    color: #09d4d9;
  }
}

/*** HERO STYLES ***/
#hero {
  color: #fff;
  position: relative;
  opacity: 1;
}
.hero {
  height: 100vh;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000,
    #434343
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #000,
    #434343
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('./images/hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}
/**** HERO TYPOGRAPHY ****/
.callToAction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.callToAction h1 {
  font-size: 7vh;
  letter-spacing: 5px;
  color: #09d4d9;
  opacity: 100%;
  z-index: 5;
}
.callToAction h2 {
  font-size: 2vh;
  letter-spacing: 3px;
}
.callToAction button {
  width: 150px;
  background: #ff7824;
  padding: 13px;
  color: #141e30; /* fallback for old browsers */
  transition: ease-in-out 0.5s;
  letter-spacing: 3px;
}
.callToAction button:hover {
  transition: ease-in-out 0.5s;
  width: 150px;
  background: #fd6100;
  color: #e7e7e7; /* fallback for old browsers */
}

/* PORTFOLIO */
#portfolio {
  min-height: 30vh;
  padding: 5px;
  border-top: 3px solid #fafafa;
}

#portfolio h1 {
  letter-spacing: 15px;
  line-height: 20px;
  padding-top: 20px;
  margin-top: 50px;
  font-size: 6vh;
  color: #09d4d9;
  font-family: 'changa';
  padding-bottom: 5px;
  width: 400px;
}
#portfolio hr {
  background: #09d4d9;
  width: 100%;
  padding-top: 5px;
}
#portfolio p {
  padding: 25px 0;
  font-family: 'changal';
  color: #fdfdfd;
}

.portfolio-item {
  min-height: 30vh;
  margin: 13vh auto;
  color: #fff;
  background: #051630;
  border: 1px solid #09d4d9;
  opacity: 0.65;
  z-index: 5;
}
.portfolio-item:hover {
  opacity: 0.99;
}
.portfolio-item h3 {
  font-size: 3vh;
  letter-spacing: 5px;
  color: #fff;
  width: 80%;
  padding: 15px;
}
#portfolio .p-content {
  color: #fff;
  padding: 15px;
}
.portfolio-img img {
  border-radius: 25px;
  padding: 15px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 18px #09d4d9;
  transition: ease-in-out 0.5s;
  overflow: hidden;
}
.portfolio-img img:hover {
  box-shadow: 5px 5px 48px #09d4d9;
  transition: ease-in-out 0.5s;
  transform: scale(1.2);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.languages li {
  font-size: 14px;
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  padding-right: 10px;
  color: #fff;
}
.portfolio-links {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}
.portfolio-links li {
  transition: ease-in-out 0.7s;
  font-size: 14px;
  display: inline-flex;
  list-style-type: none;
  color: #09d4d9;
  background: #051630;
  opacity: 0.9;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border: solid 1px #09d4d9;
  border-radius: 25%;
}
.portfolio-links li:hover {
  transition: ease-in-out 0.7s;
  background: #000203;
  width: 100px;
}
.portfolio-links a {
  color: #d95809;
  padding: 5px;
}

#about {
  min-height: 30vh;
  padding: 5px;
  margin-top: 10vh;
}
#about p {
  color: #fff;
  padding: 10px;
  font-family: 'changal';
}
#about h1,
#contact h1 {
  letter-spacing: 15px;
  line-height: 20px;
  padding-top: 20px;
  margin-top: 10vh;
  font-size: 6vh;
  color: #09d4d9;
  font-family: 'changa';
}

#about h3 {
  letter-spacing: 5px;
  line-height: 20px;
  font-size: 3vh;
  color: #09d4d9;
  font-family: 'changal';
  margin: 50px 0;
}
#about hr,
#contact hr {
  background: #09d4d9;
  width: 40%;
  padding-top: 5px;
}
#about .languages ul {
  margin-top: 30px;
  padding: 10px;
  margin: 0 auto;
}
#about .languages li {
  font-size: 18px;
  letter-spacing: 5px;
  display: inline-block;
  list-style-type: none;
  height: 40px;
  padding: 5px 15px;
  color: #fff;
  font-family: 'changal';
  background: #141e30;
  border: solid 1px #ff7824;
}

#contact {
  min-height: 30vh;
}
